## Overview ##

This project analyzes databases of movie to recommend the best movie studio to invest in.

## Business Problem ##

Your company now sees all the big companies creating original video content and they want to get in on the fun. They have decided to create a new movie studio, but they don’t know anything about creating movies. You are charged with exploring what types of films are currently doing the best at the box office. You must then translate those findings into actionable insights that the head of your company's new movie studio can use to help decide what type of films to create.

In [39]:
# import the necessary python packages for analyis, computation and visualizations
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns

In [40]:
#loading all the datasets
bom_movie_gross_data = pd.read_csv("zippedData/bom.movie_gross.csv.gz", compression="gzip")
rt_movie_info_data = pd.read_csv("zippedData/rt.movie_info.tsv.gz", compression="gzip", sep="\t", encoding="unicode_escape")
rt_reviews_data = pd.read_csv("zippedData/rt.reviews.tsv.gz", compression="gzip", sep="\t", encoding="unicode_escape")
tmdb_movies_data = pd.read_csv("zippedData/tmdb.movies.csv.gz", compression="gzip")
movie_budgets_data = pd.read_csv("zippedData/tn.movie_budgets.csv.gz", compression="gzip")

In [31]:
conn = sqlite3.connect("/movie_project/im.db")
cur = conn.cursor()

In [30]:
pd.read_sql("""
    SELECT *
    FROM movie_basics;
""", conn)

DatabaseError: Execution failed on sql '
    SELECT *
    FROM movie_basics;
': no such table: movie_basics

In [32]:
 pd.read_sql("""
    SELECT *
    FROM movie_ratings;
""", conn)

DatabaseError: Execution failed on sql '
   SELECT *
   FROM movie_ratings;
': no such table: movie_ratings

##  Data Understanding ##

This data includes information from Rotten Tomatoes(RT), Box Office Mojo(BOM), The Movie Database(TMDB), and Internet Movie Database(IMDB).

## Target Audience ##

In [34]:
#Merging the two datasets from Rotten Tomatoes, focusing on the movie_ratings and box office. 
#And seeing if there is a correlation between the two.

## The Numbers ROI ##

In [41]:
movie_budgets_data.domestic_gross = movie_budgets_data.domestic_gross.map(lambda x: int(x.strip('$').replace(',', '')))
movie_budgets_data.worldwide_gross = movie_budgets_data.worldwide_gross.map(lambda x: int(x.strip('$').replace(',', '')))
movie_budgets_data.production_budget = movie_budgets_data.production_budget.map(lambda x: int(x.strip('$').replace(',', '')))

In [42]:
movie_budgets_data[movie_budgets_data.domestic_gross < movie_budgets_data.worldwide_gross]

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747
...,...,...,...,...,...,...
5759,60,"Jun 2, 2006",The Puffy Chair,15000,194523,195254
5773,74,"Feb 26, 1993",El Mariachi,7000,2040920,2041928
5774,75,"Oct 8, 2004",Primer,7000,424760,841926
5775,76,"May 26, 2006",Cavite,7000,70071,71644
5778,79,"Apr 2, 1999",Following,6000,48482,240495