## Data Cleaning for Box Office Mojo

In [1]:
#importing pandas, creating dataframe for table from BOM
import pandas as pd

bom_df = pd.read_csv("zippedData/bom.movie_gross.csv.gz", compression='gzip', thousands = ',')

In [2]:
bom_df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000.0,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010
3,Inception,WB,292600000.0,535700000.0,2010
4,Shrek Forever After,P/DW,238700000.0,513900000.0,2010

In [3]:
bom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   float64
 4   year            3387 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 132.4+ KB

### Studio Null Values

Let's deal with the studios.  First there are 5 movies with nulls for the studio column.

In [4]:
bom_df[bom_df.studio.isna()]

,title,studio,domestic_gross,foreign_gross,year
210,Outside the Law (Hors-la-loi),NaN,96900.0,3300000.0,2010
555,Fireflies in the Garden,NaN,70600.0,3300000.0,2011
933,Keith Lemon: The Film,NaN,NaN,4000000.0,2012
1862,Plot for Peace,NaN,7100.0,NaN,2014
2825,Secret Superstar,NaN,NaN,122000000.0,2017

We'll get the studios for these online and impute them.  We want to check if there's movies that have those studios and if there is an abbrevation already in use.

In [5]:
#the studio for "Outside the Law" is StudioCanal
bom_df.studio[bom_df.studio.str.startswith(('s','S'), na=False)].value_counts()

SPC           123
Sony          110
Strand         68
SGem           35
STX            24
Sum.           15
Scre.          11
SM              4
SD              4
Shout!          3
SV              2
Studio 8        2
Super           2
Swen            1
Spanglish       1
SEA             1
Saban           1
Synergetic      1
SEG             1
SHO             1
SDS             1
SMod            1
Name: studio, dtype: int64

None of these look like StudioCanal.

In [6]:
#Imputing StudioCanal for that one.
bom_df.studio[210] = 'StudioCanal'

<ipython-input-6-5d659bf7e339>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bom_df.studio[210] = 'StudioCanal'

In [7]:
bom_df.loc[210]

title             Outside the Law (Hors-la-loi)
studio                              StudioCanal
domestic_gross                            96900
foreign_gross                           3.3e+06
year                                       2010
Name: 210, dtype: object

In [8]:
#The studio for Fireflies in the Garden is Senator Entertainment Inc.  We'll call this 'SEI'
bom_df.studio[555]= 'SEI'
bom_df.loc[555]

<ipython-input-8-7afb6e0c77dd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bom_df.studio[555]= 'SEI'

title             Fireflies in the Garden
studio                                SEI
domestic_gross                      70600
foreign_gross                     3.3e+06
year                                 2011
Name: 555, dtype: object

In [9]:
#The studio for Keith Lemon is Lionsgate.
bom_df.studio[bom_df.studio.str.startswith(('L','l'),na=False)].value_counts()

LGF      103
LG/S      41
Lorb.     11
LGP        6
LD         3
Linn       1
Libre      1
Name: studio, dtype: int64

In [10]:
bom_df[bom_df.studio == 'LGF']

                       title studio  domestic_gross  foreign_gross  year
26           The Expendables    LGF     103100000.0    171400000.0  2010
51                    Saw 3D    LGF      45700000.0     90400000.0  2010
64                   Killers    LGF      47100000.0     51100000.0  2010
65                  Kick-Ass    LGF      48100000.0     48100000.0  2010
87         The Last Exorcism    LGF      41000000.0     26700000.0  2010
...                      ...    ...             ...            ...   ...
3207               Hell Fest    LGF      11100000.0      7100000.0  2018
3229                     Kin    LGF       5700000.0      4300000.0  2018
3231                 Traffik    LGF       9200000.0       336000.0  2018
3235  Condorito: La Pelicula    LGF        448000.0      8000000.0  2018
3275         I Still See You    LGF          1400.0      1500000.0  2018

[103 rows x 5 columns]

In [11]:
#Looks like Keith Lemon's studio is Lionsgate, which apparently is 'LGF', among other abbreviations.
#Imputing LGF
bom_df.studio[933]= 'LGF'
bom_df.loc[933]

<ipython-input-11-48111826a785>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bom_df.studio[933]= 'LGF'

title             Keith Lemon: The Film
studio                              LGF
domestic_gross                      NaN
foreign_gross                     4e+06
year                               2012
Name: 933, dtype: object

In [12]:
#Looking into Plot for Peace, which has studio Indelible Media
bom_df.studio[bom_df.studio.str.startswith(('I','i'),na=False)].value_counts()

IFC       166
IM          5
Icar.       4
Imag.       4
Imax        3
ICir        2
ITL         1
Indic.      1
IW          1
IVP         1
Name: studio, dtype: int64

In [13]:
bom_df[bom_df.studio=='IM']

,title,studio,domestic_gross,foreign_gross,year
432,Detective Dee and the Mystery of the Phantom F...,IM,460000.0,51300000.0,2011
961,The Imposter,IM,898000.0,1100000.0,2012
1006,Holy Motors,IM,641000.0,NaN,2012
1028,Something From Nothing: The Art of Rap,IM,288000.0,NaN,2012
1048,Flying Swords of Dragon Gate,IM,170000.0,NaN,2012

In [14]:
#There are apparently no other movies with Indelible Media as the studio. 'IM' is something else.
#Imputing...
bom_df.studio[1862]= 'IndM'
bom_df.loc[1862]

<ipython-input-14-2521e4120a6e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bom_df.studio[1862]= 'IndM'

title             Plot for Peace
studio                      IndM
domestic_gross              7100
foreign_gross                NaN
year                        2014
Name: 1862, dtype: object

In [15]:
#Secret Superstar has studio 'Zee Studios'.  Any other movies from this studio?
bom_df.studio[bom_df.studio.str.startswith(('z','Z'),na=False)].value_counts()

Zeit.    16
Zee       1
Name: studio, dtype: int64

In [16]:
bom_df[bom_df.studio=='Zee']

       title studio  domestic_gross  foreign_gross  year
2556  Rustom    Zee       1100000.0       571000.0  2016

In [17]:
#There is another movie with studio "Zee Studios International".  Close enough, we'll impute "Zee".
bom_df.studio[2825]= 'Zee'
bom_df.loc[2825]

<ipython-input-17-b2e3931f84a9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bom_df.studio[2825]= 'Zee'

title             Secret Superstar
studio                         Zee
domestic_gross                 NaN
foreign_gross             1.22e+08
year                          2017
Name: 2825, dtype: object

In [18]:
bom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3387 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   float64
 4   year            3387 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 132.4+ KB

So no more nulls in the studio column!

### Duplicates in Studio Columns

In [19]:
bom_df.studio.value_counts().head(55)

IFC         166
Uni.        147
WB          140
Fox         136
Magn.       136
SPC         123
Sony        110
BV          106
LGF         104
Par.        101
Eros         89
Wein.        77
CL           74
Strand       68
FoxS         67
RAtt.        66
KL           62
Focus        60
WGUSA        58
CJ           56
MBox         54
UTV          50
A24          49
WB (NL)      45
FM           42
LG/S         41
Cohen        40
ORF          37
Rela.        35
SGem         35
FIP          26
STX          24
Gold.        24
GK           24
TriS         23
RTWC         23
Osci.        23
BST          22
MNE          22
EOne         21
Distrib.     20
Drft.        20
Relbig.      18
Anch.        18
CBS          17
Zeit.        16
BG           16
Sum.         15
Yash         14
FD           14
Trib.        14
W/Dim.       14
Orch.        13
FUN          12
Free         12
Name: studio, dtype: int64

We've identified a few duplicates that occur a lot by checking for similar studio names and researching online.  Let's replace the secondary duplicate names with the primary so they have the same studio name.

In [20]:
#dictionary with replacement keys
studio_dict = {"WB (NL)":'WB', 'FoxS':'Fox', "Sony":'SPC', "LG/S":"LGF"}

#using the dictionary to perform the replacement
bom_df.studio.replace(studio_dict, inplace=True)

In [21]:
bom_df.studio.value_counts().head(20)

SPC       233
Fox       203
WB        185
IFC       166
Uni.      147
LGF       145
Magn.     136
BV        106
Par.      101
Eros       89
Wein.      77
CL         74
Strand     68
RAtt.      66
KL         62
Focus      60
WGUSA      58
CJ         56
MBox       54
UTV        50
Name: studio, dtype: int64

### Replacing null values in gross columns with 0

Since there are no movies that have null for both foreign and domestic gross, it is probable that null values represent movies that are ONLY domestic or ONLY foreign.  Therefore, the null value represents $0

In [22]:
bom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3387 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   float64
 4   year            3387 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 132.4+ KB

In [23]:
bom_df.domestic_gross.fillna(value=0, inplace=True)

In [24]:
bom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3387 non-null   object
 2   domestic_gross  3387 non-null   float64
 3   foreign_gross   2037 non-null   float64
 4   year            3387 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 132.4+ KB

In [25]:
bom_df.foreign_gross.fillna(value=0, inplace=True)

In [26]:
bom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3387 non-null   object
 2   domestic_gross  3387 non-null   float64
 3   foreign_gross   3387 non-null   float64
 4   year            3387 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 132.4+ KB

### Creating Total Gross Column

In [27]:
#Adding "total_gross" column, equal to sum of domestic and foreign gross.
bom_df["total_gross"] = bom_df["domestic_gross"] + bom_df["foreign_gross"]

In [28]:
bom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3387 non-null   object
 2   domestic_gross  3387 non-null   float64
 3   foreign_gross   3387 non-null   float64
 4   year            3387 non-null   int64
 5   total_gross     3387 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 158.9+ KB